#collection-of-part .product-name {
  display: flex;
  align-items: center;
  min-height: $coll_row_height;
  font-weight: 500;
}

#collection-of-part .product-name img {
  width: $coll_row_width;
  margin-right: 1rem;
  margin-left: 1rem;
}

#collection-of-part .product-table .product-row td {
  border-bottom: 1px solid $dark_mode;
}

#collection-of-part .product-table .product-table-header {
  border-bottom: 1px solid $dark_mode;
  padding-bottom: 1rem;
  color: rgba(0,0,0,0.5);
}

#collection-of-part .product-table .product-table-header:hover {
  border-bottom: 1px solid blue;
  cursor: pointer;
  color: $dark_mode;
}

#collection-of-part .product-data {
  margin-right: 1rem;
}

#collection-of-part .product-table {
  width: 100%;
}

#collection-of-part .product-table th {
  text-align: left;
}

#collection-of-part .table-and-filtration {
  margin: 2rem;
  display: flex;
}

#collection-of-part .table-and-filtration .filtration {
  flex: 2;
}

#collection-of-part .table-and-filtration .part-collection {
  flex: 5;
}

// CHECKBOX FILTER
.filter-pinter {
  cursor: pointer;
}

.filters-header {
  font-size: 25px;
  font-weight: 700;
  width: 70%;
  border-bottom: 1px solid black;
  padding-bottom: .5rem;
}

.product-coll-header {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: darkslateblue;
  color: $light_mode;
  padding: 2rem;
  width: 99vw;
}