.border_and_transition, #products-drop-down .parts .part_repr:hover, #home_page .parts .part_repr:hover {
  transition: 3ms;
  border: 2px solid beige; }

#navigation {
  height: 100px;
  background-color: #191b2b;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem; }

#navigation .products-drop-down-bt {
  cursor: pointer;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  float: right;
  display: flex; }

.drop-state-arr {
  color: yellowgreen;
  font-size: 20px;
  margin-left: 0.5rem; }

#products-drop-down {
  background-color: #282838;
  width: 100vw;
  position: absolute;
  top: 100px;
  z-index: 5;
  height: auto;
  color: #fff; }

#products-drop-down .parts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2rem; }

#products-drop-down .parts img {
  width: 75px; }

#products-drop-down .parts a {
  text-decoration: none;
  color: #fff; }

#products-drop-down .part_repr {
  margin: 1rem;
  background: #323549;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 2px solid #323549; }

.icon-cont {
  display: flex; }

.nav-icon {
  fill: grey;
  width: 22px;
  margin-right: 0.5rem;
  align-self: center; }

.nav-buttons {
  align-self: center;
  display: flex; }

body {
  margin: 0;
  font-family: "sf pro display","segoe ui","Roboto","Oxygen-Sans","Ubuntu","Cantarell","helvetica neue", "sans-serif";
  background-color: #fff;
  color: #282838;
  overflow-x: hidden; }

.page_hint_message {
  text-align: center;
  font-size: 25px;
  margin: 2rem; }

a {
  text-decoration: none;
  color: #fff; }

.nav-logo {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  align-self: center; }

.retailer-logo {
  width: 50px; }

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center; }

.page_identifier {
  color: #fff;
  background-color: darkslateblue;
  border-radius: 3px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #28283A;
  width: 25px;
  height: 25px;
  font-weight: 700;
  text-align: center; }

.page_active {
  color: #282838;
  background-color: #fff; }

.page_identifier:hover {
  cursor: pointer;
  color: #282838;
  background-color: #fff;
  transition: 0.02s; }

.pagination-dots {
  font-size: 25px;
  text-align: center; }

.filter-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem; }

.filter-header {
  display: flex;
  justify-content: space-between; }

.hide-sign {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer; }

.rotating-sign {
  position: absolute;
  transform: translateY(30px); }

.sign-bar {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: black; }

.sign-collapse {
  transform: rotate(90deg);
  transition: 0.5s; }

.sign-open {
  transform: rotate(180deg);
  transition: 0.5s; }

#filtration .filters .filter-collapse {
  transition: 0.5s;
  display: none;
  height: 0; }

#filtration .filters .filter-show {
  transition: 0.5s;
  display: block; }

.show-less-or-more {
  margin-top: 0.5rem;
  cursor: pointer; }

.filter-shrink {
  max-height: 130px;
  overflow: hidden; }

.show-less-or-more:hover {
  color: blue; }

.show {
  display: block;
  transition: 0.7s; }

.hide {
  display: none;
  transition: 0.7s; }

.double-range-slider {
  width: 70%;
  padding-top: 2rem;
  padding-left: 1rem; }

#home_page {
  height: calc(100vh - 100px);
  background-color: #282838;
  color: #fff;
  overflow: auto; }

#home_page .parts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%; }

#home_page .parts a {
  text-decoration: none; }

#home_page .parts .part_repr {
  margin: 1rem;
  background: #323549;
  text-align: center;
  width: 260px;
  height: 260px;
  border: 2px solid #323549; }

#home_page .parts .part_name {
  color: #fff;
  font-weight: 500;
  font-size: 18px; }

#collection-of-part .product-name {
  display: flex;
  align-items: center;
  min-height: 70px;
  font-weight: 500; }

#collection-of-part .product-name img {
  width: 50px;
  align-self: center; }

.img-container {
  display: flex;
  justify-content: center;
  margin-right: 3rem;
  margin-left: 1rem;
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #fff;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem; }

#collection-of-part .product-table .product-row td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.product-row {
  font-size: 15px;
  font-weight: 400; }

.price-info {
  display: flex;
  justify-content: center;
  align-items: center; }

.price-info > div {
  margin-right: 1rem; }

.price-info:last-child {
  margin-right: 0; }

.product-title {
  color: #282838; }

#collection-of-part .product-table .product-table-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5); }

#collection-of-part .product-table .product-table-header:hover {
  border-bottom: 1px solid blue;
  cursor: pointer;
  color: #282838; }

#collection-of-part .product-data {
  margin-right: 1rem; }

#collection-of-part .product-table {
  width: 100%; }

#collection-of-part .product-table th {
  text-align: left; }

#collection-of-part .table-and-filtration {
  margin: 2rem;
  display: flex; }

#collection-of-part .table-and-filtration .filtration {
  flex: 2; }

#collection-of-part .table-and-filtration .part-collection {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center; }

.filter-pinter {
  cursor: pointer; }

.filters-header {
  font-size: 25px;
  font-weight: 700;
  width: 70%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: .5rem; }

.product-coll-header {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: darkslateblue;
  color: #fff;
  padding: 2rem; }

.filters_and_order {
  display: none; }

.field-name {
  display: none; }

.no-products-reporting {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; }

.no-products-action {
  color: #282838;
  margin-left: 3rem;
  border-radius: 8px;
  border: 2px solid darkslateblue;
  padding: 0.3rem;
  font-size: 20px; }

.no-products-action:hover {
  background-color: darkslateblue;
  color: #fff; }

@media only screen and (max-width: 600px) {
  .no-products-reporting {
    font-size: 20px; }

  .no-products-action {
    font-size: 15px; }

  .product-row {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    border: 2px solid darkslateblue;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem; }

  #collection-of-part .product-table .product-row td {
    border-bottom: none; }

  .orderings {
    display: none;
    flex-direction: column;
    margin-bottom: 2rem; }

  #collection-of-part .product-table .product-table-header {
    border-bottom: none;
    text-align: center; }

  #filtration {
    position: absolute;
    height: auto;
    width: 90vw;
    background-color: #fff;
    color: #282838;
    display: none;
    margin-bottom: 2rem; }

  .filters_and_order {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around; }

  .filters_and_order > div {
    padding: 0.2rem;
    border: 2px solid darkslateblue;
    color: darkslateblue;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    width: 35%;
    text-align: center; }

  .field-name {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 1rem;
    display: inline;
    text-align: center;
    margin-left: 1rem; } }
.not-found-message {
  text-align: center;
  margin-top: 1rem; }

.not-found-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.not-found-page-image {
  width: 500px; }

.not-found-code {
  color: red; }

@media (max-width: 600px) {
  .not-found-container {
    margin: 1rem; }

  .not-found-page-image {
    width: 300px; } }

/*# sourceMappingURL=main.css.map */
