body {
  margin:0;
  font-family: "sf pro display","segoe ui","Roboto","Oxygen-Sans","Ubuntu","Cantarell","helvetica neue", "sans-serif";
  background-color: $light_mode;
  color: $dark_mode;
}

.page_hint_message {
  text-align: center;
  font-size: 25px;
  margin: 2rem;
}