<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/public/stylesheet/sass/main.css">

    {# JQUERY #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {# REACT #}
    {#TODO when deploying, replace "development.js" with "production.min.js". #}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
    <section>
        {% include "base_components/navigation.html.twig" %}
    </section>
    <section>
        {% block payload %}
            {# every page will extend this block #}
        {% endblock %}
    </section>
    <section>
        {#TODO add footer#}
    </section>
</body>
</html>