<div id="navigation">
    <div class="nav-logo">
        PC Parts
    </div>
    <div onclick="productsDropDown()" class="products-drop-down-bt">
        Parts <span class="drop-state-arr">&darr;</span>
    </div>
</div>

<div id="products-drop-down" class="hide">
    <p class="page_hint_message">Choose A Part</p>
    <div class="parts">
        <a href="/cpu" class="part_repr">
            <img src="/public/photos/parts/nav-cpu.png" alt="cpu">
            <p class="part_name">CPU</p>
        </a>
        <a href="/cooler" class="part_repr">
            <img src="/public/photos/parts/nav-cpucooler.png" alt="cooler">
            <p class="part_name">CPU Cooler</p>
        </a>
        <a href="/motherboard" class="part_repr">
            <img src="/public/photos/parts/nav-motherboard.png" alt="motherboard">
            <p class="part_name">Motherboard</p>
        </a>
        <a href="/memory" class="part_repr">
            <img src="/public/photos/parts/nav-memory.png" alt="memory">
            <p class="part_name">Memory</p>
        </a>
        <a href="/storage" class="part_repr">
            <img src="/public/photos/parts/nav-ssd.png" alt="storage">
            <p class="part_name">Storage</p>
        </a>
        <a href="/gpu" class="part_repr">
            <img src="/public/photos/parts/nav-videocard.png" alt="video card">
            <p class="part_name">Video Card</p>
        </a>
        <a href="/psu" class="part_repr">
            <img src="/public/photos/parts/nav-powersupply.png" alt="power supply">
            <p class="part_name">Power Supply</p>
        </a>
        <a href="/pc_case" class="part_repr">
            <img src="/public/photos/parts/nav-case.png" alt="case">
            <p class="part_name">PC Case</p>
        </a>
    </div>
</div>

<script src="/public/js/common/navigation_functions.js"></script>