{% extends "base_components/base_layout.html.twig" %}

{% block payload %}
    <!-- Load React. -->
    {#TODO when deploying, replace "development.js" with "production.min.js". #}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <div id="collection_of_part">
    </div>

    <script src="/public/js/collection_of_part/FilterablePartTable.js"></script>
{% endblock %}