{% extends "base_components/base_layout.html.twig" %}

{% block payload %}
    <div id="collection_of_part">
    </div>

    <script src="/public/js/collection_of_part/FilterablePartTable.js"></script>
{% endblock %}