{% extends "base_components/base_layout.html.twig" %}

{% block payload %}
    <div id="home_page">
        <p class="page_hint_message">Choose Part</p>
        <div class="parts">
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-cpu.png" alt="cpu">
                <p class="part_name">CPU</p>
            </a>
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-cpucooler.png" alt="cooler">
                <p class="part_name">CPU Cooler</p>
            </a>
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-motherboard.png" alt="motherboard">
                <p class="part_name">Motherboard</p>
            </a>
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-memory.png" alt="memory">
                <p class="part_name">Memory</p>
            </a>
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-ssd.png" alt="storage">
                <p class="part_name">Storage</p>
            </a>
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-videocard.png" alt="video card">
                <p class="part_name">Video Card</p>
            </a>
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-powersupply.png" alt="power supply">
                <p class="part_name">Power Supply</p>
            </a>
            <a href="" class="part_repr">
                <img src="/public/photos/parts/nav-case.png" alt="case">
                <p class="part_name">PC Case</p>
            </a>
        </div>
    </div>
{% endblock %}