.pagination {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

.page_identifier {
  color: #fff;
  background-color: $outline_color;
  border-radius: 3px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #28283A;
  width: 25px;
  height: 25px;
  font-weight: 700;
  text-align: center;
}

.page_active {
  color: $dark_mode;
  background-color: $light_mode;
}

.page_identifier:hover {
  cursor: pointer;
  color:$dark_mode;
  background-color: $light_mode;
  transition: 0.02s;
}

.pagination-dots {
  font-size: 25px;
  text-align: center;
}