// NAVIGATION
$navigation_height: 100px;

// measures
$distance_from_left: 3rem;
$coll_row_height: 70px;
$coll_row_width: 50px;

// COLORS
// Background
$dark_mode: #282838;
$light_mode: #fff;
$outline_color: darkslateblue;

$nav_bar_color: #191b2b;

$border_main_color: rgba(0,0,0,0.2);